---
---
@import "minima";

/* 修改文章详情页的大标题样式 */
.post-header .post-title {
  font-family: '楷体', 'Kaiti', 'STKaiti', serif !important; /* 统一为楷体 */
  font-size: 30px !important;      /* 调整字号，默认通常非常大，32px 会显得更精致 */
  font-weight: normal !important;  /* 取消粗体，增加文艺感 */
  line-height: 1.4 !important;     /* 优化多行标题的行距 */
  color: #333333 !important;       /* 让颜色稍微柔和一点，不再是死黑 */
}
